<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Sales\Model\Order\Pdf\Invoice">
        <plugin name="add_invoice_pdf_custom_message"
                type="Szagabesz\Demo\Plugin\Sales\Model\Order\Pdf\Invoice\AddInvoicePdfCustomMessage"
                sortOrder="1"
                disabled="false" />
    </type>

</config>
